:root {
    --accent-50: #203772;
    --background-00: rgb(24, 24, 24);
    --background-10: rgb(32, 32, 32);
    --text-primary: rgb(255, 255, 255);
}

body {
    background-color: var(--background-10);
    color: var(--text-primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    min-width: 2em;
    background-color: var(--background-00);
}

.dropdown * {
    box-sizing: border-box;
}

.dropdown .select {
    background-color: var(--accent-50);
}

.dropdown .menu {
    background-color: var(--background-00);
    list-style: none;
    padding: .2em .5em;
    border-radius: .2em;
    position: absolute;
}
