:root {
    --accent-50: #203772;
    --background-00: rgb(24, 24, 24);
    --background-10: rgb(32, 32, 32);
    --text-primary: rgb(255, 255, 255);
}

body {
    background-color: var(--background-10);
    color: var(--text-primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* wrapper */
.wrapper {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* settings icon */
.settings {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.settings .background {
    background-color: var(--background-00);

    padding: 1em;
    border-radius: 1em;
}

.settings img {
    position: absolute;
}

/* settings dropdown */
.dropdown {
    position: absolute;
    transform: translateY(100%);

    height: 400px;

    background-color: var(--background-00);
    
    padding: 1em;
    border-radius: 1em;
}

.dropdown ul {
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}
